main{
    display: flex;
    gap: 400px;
}

main .containerLeft {
    display: flex;
    flex-direction: colunm;
    gap: 30px;
}
main .containerLeft h2{
    position: absolute;
    width: 279px;
    height: 47px;
    left: 65px;
    top: 185px;
    color: #F4EDE8;
}

main .containerLeft img{
    position: absolute;
    width: 295px;
    height: 260px;
    left: 49px;
    top: 238px;

    background: url(image.png);
    border-radius: 93px;

}
main .containerLeft section ul li{
    display: flex;
    flex-direction: colunm;
    align-items: flex-start;
    padding: 16px 432px 18px 16px;
    gap: 30px;

    position: relative;
    width: 1000px;
    height: 50px;
    left: 49px;
    top: 350px;

    color: #F4EDE8;
    border-radius: 8px;

}


main .containerRight{
        display: flex;
        flex-direction: colunm;
        gap: 30px;
}
main .containerRight p{
    position: absolute;
    width: 607px;
    height: 324px;
    left: calc(50% - 220px/2 + 130px);
    top: 200px;

    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: justify;

    color: #F4EDE8;
}
main .containerRight h2{
    position: absolute;
    width: 220px;
    height: 109px;
    left: calc(50% - 220px/2 + 130px);
    top: 160px;

    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 42px;
    display: flex;
    align-items: center;

    color: #FFFFFF;

}
header {
    display: flex;
    align-items: center;

    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;

    width: 100%;
    height: 150px;
    padding: 42px 100px;

    border-bottom: 2px solid #948F99;
}

header h1{
    font-size: 24px;
    line-height: 32px;

    color: #FF7F00;
    margin-top: 20px
}

header form input {
    width: 500px;
    height: 56px;
    padding: 19px 24px;

    background: #262529;
    border-radius: 10px;
    border:none;

    color: white;
}

header form button{
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    border:none;
    height: 56px;
    color: black;
    background: #FF7F00;
    padding: 19px 24px;


}

header section {
    width: 180px;
    height: 68px;

    display: flex;
    justify-content: space-between;
    align-items: center;




}

header section p {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;

    color: #F4EDE8;
}

header  img {
    width: 64px;
    height: 64px;
    border: 1px solid #3E3B47;
    border-radius: 35px;
}


img:hover, button:hover {

    filter: brightness(0.5);
    cursor:pointer;
}
#menu {
  background-color: black;
  padding: 10px;
  white-space: nowrap;
  margin-left:10px;
  display:none;
}
#menu.visible {
  display: block;
}

#menu li {
  display: block;
  margin-right: 10px;
  position: relative;
}

#menu li a {
  color:  #FF7F00;
  text-decoration: none;
  position: relative;
}


#menu li a:hover {
  text-decoration: underline;
  background-color: rgba(255, 255, 255, 0.2);
}
