




header {
    display: flex;
    align-items: center;

    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;

    width: 100%;
    height: 150px;
    padding: 42px 100px;

    border-bottom: 2px solid #948F99;
}

header h1{
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;

    color: #FF7F00;
    margin-top: 20px
}

header form input {
    width: 500px;
    height: 56px;
    padding: 19px 24px;

    background: #262529;
    border-radius: 10px;
    border:none;

    color: white;
}

header form button{
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    border:none;
    height: 56px;
    color: black;
    background: #FF7F00;
    padding: 19px 24px;


}


header section {
    width: 180px;
    height: 68px;

    display: flex;
    justify-content: space-between;
    align-items: center;




}

header section p {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;

    color: #F4EDE8;
}

header  img {
    width: 64px;
    height: 64px;
    border: 1px solid #3E3B47;
    border-radius: 35px;
}

.block {

    margin-top: 20px;
    display: flex;
    gap: 600px;


    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    align-items: center;

}

.block h1 {
    color: #FFFFFF;
    padding-top: 10px;
}

.block button {
    display: flex;
    gap: 15px;
    width: 190px;
    height: 1px;
    align-items: center;
}

main {
    height: auto;
    width: 120%;
    align-items: stretch;

    display: inline-block;

    display: flex;
    gap: 3.2rem;
    padding-bottom: 10rem;
    flex-wrap: wrap;
}

.card {
    width: 300px;
    height: 400px;
    position: relative;
    align-items: center;
    background-color: #1C1C1C;
    border-radius: 8px;
}



.card img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin-left: 40px;
    margin-bottom: 20px;
}



.card img:hover {
  transform: scale(1.1);
  opacity: 0.4;
}

.card ul {
  position: absolute;
  bottom: 2.2rem;
  left: 0;

  margin-top:10px;

  display: flex;
  flex-direction: column;
  gap: 5px;


}

.card ul li {

  padding: 0 1.6rem;
  width: fit-content;
  height: 4.8rem;

  display: inline-flex;
  align-items: center;

  font-family: 'Montserrat', sans-serif; /* Nome da fonte */
    font-weight: 700;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; /* Simula uma espessura de fonte mais grossa */
    color: #FF7F00;
}

.buttonAmizade{
   font-weight: 400;
   font-size: 14px;
   line-height: 18px;
   border:none;
   height: 56px;
   color: black;
   background: #FF7F00;
   padding: 19px 24px;
   width: 190px
}



img:hover, button:hover{

    filter: brightness(0.5);
    cursor:pointer;
}


#menu {
  display: none;
  background-color: black;
  padding: 10px;
  white-space: nowrap;
  margin-left:10px;
}

#menu.visible {
  display: block;
}

#menu li {
  display: block;
  margin-right: 10px;
  position: relative;
}

#menu li a {
  color: #FF7F00;
  text-decoration: none;
  position: relative;
}


#menu li a:hover {
  text-decoration: underline;
  background-color: rgba(255, 255, 255, 0.2);
}