body {
    background-color: #021B5C
}

  body, input, button, textarea {
        font-family: 'Roboto Slab', serif;
        font-size: 16px;
        outline: none;
}


a{
     text-decoration: none;
}

h1, h2{

    font-family: Roboto Slab
    font-style: Medium

}

button, a {
        cursor: pointer;
        transition: filter 0.2s;
    }
    button:hover  a:hover{
        filter: brightness(0.9);
    }

input{

    width: 340px;
    Height:56px;
    background-color: #262529;
}