

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --ff-heading: 'Epilogue', sans-serif;
  --ff-texting: 'Open sans', sans-serif;

  --hue: 250;
  --bg-primary: hsl(var(--hue), 22%, 20%);
  --fc-primary: hsl(var(--hue), 0%, 100%);
  --fc-secondary: hsl(var(--hue), 50%, 80%);
  --fc-secondary-dark: hsl(var(--hue), 100%, 11%, 1);


  font-size: 62.5%;
  --fs-body: 1.6rem;
  --fs-heading: clamp(4rem, 1rem + 5vw, 5.6rem);
  --fs-heading-sm: clamp(3rem, 0.5rem + 3vw, 4rem);
}

body {

    background-color: #1C1C1C;

}

body .container {

    padding: 50px 150px 5rem;
    margin: 10px auto;
    height: 100vh;
    width: 100%;
    align-items: stretch;

}

  body, input, button, textarea {

        font-family: 'Roboto Slab', serif;
        font-size: 16px;
        outline: none;

}


a{
     text-decoration: none;
}

h1, h2{

    font-family: Roboto Slab
    font-style: Medium;

}

select{

background: #0D0D0D;

}

button{

    background: #FF7A00;
    color: #000000;
    border-radius: 8px;
    padding: 32px;

}
button, a {
    cursor: pointer;
    transition: filter 0.2s;
}

    button:hover  a:hover{
    filter: brightness(0.9);
}


input{

    width: 340px;
    Height:56px;
    background-color: #0D0D0D;
    padding-left: 5px;

}
