* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div{

margin: 0 auto;

}

input{

color:white;

}

button{
    margin-top: 200px;
    width: 340px;
    height: 56px;
    padding: 0 136px;
    display:flex;
    justify-content: center;
    align-items:center;
    text-align: center;
    margin: 0 auto;
}

input, select{
    padding-top: 0 auto;
    padding-left: 10px;
    border:none;
    display:flex;
    fontSize: 20px;
    width: 340px;
    height: 56px;
    border-radius: 10px;
    flex-direction: column;
}

.formContainer{
    color:#FF7F00;
    display: flex;
}