* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
    display: flex;
    align-items: center;

    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;

    width: 100%;
    height: 120px;
    padding: 42px 100px;

    border-bottom: 2px solid #948F99;
}

header h1{
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;

    color: #FF7F00;
    margin-top: 20px
}

header h1, a{

    color: #FF7F00;

}

header section {
    width: 180px;
    height: 68px;

    display: flex;
    justify-content: space-between;
    align-items: center;

}

header section p {
    font-style: normal;
    font-weight: 700;
    line-height: 18px;

    color: #F4EDE8;
}

header  img {
    width: 64px;
    height: 64px;
    border: 1px solid #3E3B47;
    border-radius: 35px;
}

label {
  font-size: 20px;
}

div {
  padding-top: 80px;
  margin: 0 auto;
  text-align: center;
}

input {
  color: white;
}

button {
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 50px;
  position: relative;
}

select:hover,
img:hover,
button:hover {
  filter: brightness(0.5);
}

input,select,button {
  padding-top: 0 auto;
  padding-left: 10px;
  border: none;
  display: flex;
  font-size: 20px;
  width: 340px;
  height: 56px;
  border-radius: 10px;
  margin: 0 auto;
}

select, select option, date{
  text-align: center;
  border-radius: 10px;

}

select, button, .imagem {
  cursor: pointer;
}

.formContainer {
  color: #FF7F00;
  display: flex;
}

input.bio {
  min-width: 300px;
  box-sizing: border-box;
}

#previaDaImagem {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  cursor: pointer;
}

.imagem {
  position: relative;
}

.camera-wrapper {
  position: absolute;
  bottom: 0px;
  left: 0px;
  cursor: pointer;
}

.camera-wrapper #camera {
  width: 50px;
  height: 50px;
}

#data_nascimento{
  text-align: center;
}