* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


h1{
    padding-top: 30px;
    text-align :center;
    color:#FF7F00;
}

label{

    font-size: 120%;
    font-size: 20;

}

div{
    padding-top: 80px;
    margin : 0 auto;
    text-align :center


}

input{

color:white;


}


button{

    justify-content: center;
    align-items:center;
    text-align: center;
    margin-top: 50px;
    position:relative

}

select:hover, img:hover, button:hover{

filter: brightness(0.5);

}


img{

width: 350px;
position:relative

}

input, select, button{
    padding-top: 0 auto;
    padding-left: 10px;
    border:none;
    display:flex;
    fontSize: 20px;
    width: 340px;
    height: 56px;
    border-radius: 10px;
    flex-direction: column;
    margin: 0 auto;

}

select, button, .imagem{

    cursor: pointer;

}


.formContainer{

    color:#FF7F00;
    display: flex;

}

.bio{


}