<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Community Senac</title>
    <link rel="stylesheet"  href="./index.css" media="screen" />
    <link rel="stylesheet" href="./cadastro.css" media="screen"/>
</head>
<body>
    <container class="container" >

    <h1>Community Senac</h1>
    <h2>Crie sua conta</h2>
    <form action="">

        <svg></svg>
        <input type="text" name="name" placeholder="Nome" />
        <svg></svg>
        <input type="email" name="email" placeholder="E-mail"/>
        <svg></svg>
        <input type="password" name="password" placeholder="Senha"/>

        <button>Cadastrar</button>


    </form>

    <a href="/login">Voltar para login</a>

    </container>

</body>
</html>