*{
    /*background: #1C1C1C;*/
}

.topo{
    text-align: right;
    margin-right: 30px;
    font-size: 22px;
}

a{
    padding-right: 30px;
    color: #FF7F00;
}

.container h1{
    margin-top: 300px;
    font-size: 48px;
    color: #FF7F00;
    height: 63px;
}

.container p{
    margin-top: 120px;
    font-size: 38px;
    color: #E8E9F4;
    height: 63px;
}

.container h1, p{
    margin-left: 100px;
}

.container img{
    float: right;
    margin-right: 370px;
    margin-top: -360px;
    height: 600px;
    weight: 600px;
}
