html, body {
  overflow-y: hidden;
}


header {
    display: flex;
    align-items: center;

    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;

    width: 100%;
    height: 120px;
    padding: 42px 100px;

    border-bottom: 2px solid #948F99;
}

header h1{
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;

    color: #FF7F00;
    margin-top: 20px
}

header h1, a{

    color: #FFAE11;

}

header section {
    width: 180px;
    height: 68px;

    display: flex;
    justify-content: space-between;
    align-items: center;

}

header section p {
    font-style: normal;
    font-weight: 700;
    line-height: 18px;

    color: #FFAE11;
}

a {
    padding-right: 30px;
    color: #FF7F00;
    transition: background-color 0.3s ease;
    white-space:nowrap;
}

a:hover {
    background-color: #FF7F00;
    color: #FFFFFF;
    cursor: pointer;
}

.container, h1{

color: #FFAE11;
margin-top:50px;

}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bemVindo {
  text-align: center;
}

.apresentacao {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 70px;
}

.texto {
  margin-right: 20px;
  color:white;
  text-align: center;
  padding: 100px;
  line-height: 1.5;
}



.container p{

    font-size: 38px;
    color: #E8E9F4;

}

