<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./style.css">
    <link rel="stylesheet" href="../index.css">
    <title>Title</title>
</head>
<body>

<div class="container">

    <div class="block">
        <h1>Possiveis conexões</h1>

        <button><span>+</span>Adicionar Filtro</button>
    </div>

    <main>
        <div class="card">
            <img
                src=""
                alt="Imagem da pessoa">
            <ul>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
    </main>

</div>


</body>
</html>